name: Static Analysis
on:
  merge_group:
    branches:
      - main
  push:
    branches:
      - main
      - release*
  pull_request:
    branches:
      - main
      - release*
jobs:
  static-analysis:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [
          ubuntu-latest,
        ]
        toolchain: [
          stable,
          1.75.0
        ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Go Toolchain
        uses: actions/setup-go@v5
        with:
          go-version: '=1.20.0'

      - name: Rust Toolchain
        run: |
          rustup toolchain install ${{ matrix.toolchain }} --profile minimal --no-self-update
          rustup default ${{ matrix.toolchain }}

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2

      - name: Make Static
        run: make static
