name: Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [
          ubuntu-latest,
          macos-latest,
          windows-latest,
        ]
        toolchain: [
          stable,
        ]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Go Toolchain
        uses: actions/setup-go@v3
        with:
          go-version: '=1.18.0'

      - name: Rust Toolchain
        run: |
          rustup toolchain install ${{ matrix.toolchain }} --profile milimal --no-self-update
          rustup default ${{ matrix.toolchain }}

      - name: Cargo Test
        env:
          RUST_BACKTRACE: 1
        run: cargo test -- --nocapture
